.content-container {
  flex-basis: calc(100vh - 58px - 80px);
  overflow: auto;
}

.content-container__scroll::-webkit-scrollbar-thumb {
  background: #56bd40;
  border-radius: 10px;
}

.content-container__scroll::-webkit-scrollbar {
  width: 0.7rem;
}

.content-container__scroll::-webkit-scrollbar-thumb:hover {
  background: #3e822e;
}
