.track-table {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "header"
    "main";

  /* transform: translate(0px, -100px); */
  transform: translate(0px, -200px);
  background-color: rgba(0, 0, 0, 0.05);
}

.track-table > .track-table-header {
  grid-area: header;
  display: grid;
  grid-template-columns: 20px 2fr 1fr 100px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);

  column-gap: 15px;
  position: sticky;
  top: 264px;
  /* top: 164px; */
  padding: 5px 55px 5px 65px;
}

.track-table > .track-table-main {
  grid-area: main;
  padding: 0 40px;
}
